.application-form-container {
  width: 850px;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #ffffff;
}

.denied {
  background-color: #ffffff;
}
fieldset {
  border-radius: 5px;
}
legend {
  font-weight: bold;
  font-size: 25px;
}
.application-form .form-group {
  padding: 10px;
}
.row {
  display: flex;
}
.form-gender {
  display: flex;
  /* margin-top: 15px; */
  padding: 10px;
  font-weight: 500;
}
.form-gender label {
  padding-right: 10px;
  padding-left: 2px;
}

.application-form .form-group label {
  font-weight: 500;
  padding-right: 5px;
}

.application-form .form-group input,
.application-form .form-group textarea,
.application-form .form-group select {
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
}

.application-form .btn {
  margin: 1rem 0 1rem 20rem;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.application-form .btn:hover {
  background-color: #0056b3;
}
.logout {
  color: #ffffff;
  margin: 0 0 10px 42rem;
  background-color: red;
  width: 105px;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
  font-weight: bold;
}
.logout:hover {
  background-color: rgb(201, 76, 76);
}
