#update_form_h2 {
  margin: 20px auto;
  text-align: center;
}
#customers {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
#btn-update {
  padding: 10px;
  width: 80px;
  background-color: #df1620;
  color: #ffffff;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 -50px 0px 30px;
}
#btn-update:hover {
  background-color: #e4646a;
}
